<div class="content" style="width: 80%;margin: auto;">
    <mat-tab-group>
        <mat-tab label="Request Orders"> 
          <p class="no-data" *ngIf="pendingOrders.length==0"> There are no request orders</p>
        <div class="card-container" *ngIf="pendingOrders.length>0">
            <mat-card class="pending-card" *ngFor="let order of pendingOrders">
              <mat-card-header>
                <mat-card-title>Purchase Order: {{ order.poId }}</mat-card-title>
                <mat-card-subtitle>Order ID: {{ order.orderId }}</mat-card-subtitle>
              </mat-card-header>
              <mat-card-content>
                <p><strong>Supplier:</strong> {{ order.supplierName }}</p>
                <p><strong>Item:</strong> {{ order.itemName }} </p>
                <p><strong>Quantity:</strong> {{ order.quantity }}</p>
                <p><strong>Logged By:</strong> {{ order.loggedBy }}</p>
              </mat-card-content>
              <mat-card-actions>
                <button mat-button class="edit-button"  (click)="editOrder(order)">Edit</button>
                <button mat-button class="approve-button"  (click)="approveOrder(order.poId)">Approve</button>
                <button mat-button class="decline-button"  (click)="declineRequest(order.poId)">Decline</button>
              </mat-card-actions>
            </mat-card>
          </div>
          </mat-tab>

        <mat-tab label="Purchse Orders" style="padding: 20px;"> 
          <p class="no-data" *ngIf="approvedOrders.length==0"> There are no request orders</p>
            <div class="mat-elevation-z8" *ngIf="approvedOrders.length>0">
                <table mat-table [dataSource]="dataSource">
                     <!-- Purchase Order ID column -->
                  <ng-container matColumnDef="poId">
                    <th mat-header-cell *matHeaderCellDef> Purchase Order ID </th>
                    <td mat-cell *matCellDef="let element"> {{element.poId}} </td>
                  </ng-container>
                    <!-- Order ID column -->
                  <ng-container matColumnDef="orderId">
                    <th mat-header-cell *matHeaderCellDef> Order ID </th>
                    <td mat-cell *matCellDef="let element"> {{element.orderId}} </td>
                  </ng-container>
              
                  <!-- Supplier Column -->
                  <ng-container matColumnDef="supplierName">
                    <th mat-header-cell *matHeaderCellDef> Supplier </th>
                    <td mat-cell *matCellDef="let element"> {{element.supplierId}} - {{element.supplierName}} </td>
                  </ng-container>
              
                  <!-- Item ID Column -->
                  <ng-container matColumnDef="itemName">
                    <th mat-header-cell *matHeaderCellDef> Item </th>
                    <td mat-cell *matCellDef="let element"> {{element.itemId}} - {{element.itemName}}</td>
                  </ng-container>

            
                  <!-- Quantity Column -->
                  <ng-container matColumnDef="quantity">
                    <th mat-header-cell *matHeaderCellDef> Quantity </th>
                    <td mat-cell *matCellDef="let element"> {{element.quantity}} </td>
                  </ng-container>
              
                  <!-- Order Date Column -->
                  <ng-container matColumnDef="orderDate">
                    <th mat-header-cell *matHeaderCellDef> Order Date </th>
                    <td mat-cell *matCellDef="let element"> {{element.orderDate}} </td>
                  </ng-container>
            
                  <!-- Delivery Date Column -->
                  <ng-container matColumnDef="expectedDelivery">
                    <th mat-header-cell *matHeaderCellDef> Expected Delivery  </th>
                    <td mat-cell *matCellDef="let element"> {{element.expectedDelivery}} </td>
                  </ng-container>
            
                  <!--Status Column -->
                  <ng-container matColumnDef="approvalStatus">
                    <th mat-header-cell *matHeaderCellDef> Approval Status </th>
                    <td mat-cell *matCellDef="let element"> {{element.approvalStatus}} </td>
                  </ng-container>
              
                  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
              
            </div>
        </mat-tab>   
    </mat-tab-group>
</div>
