.home{
    background-color:rgb(53,94,59) ;
    height: 100%;
    width: 100%;
    position: relative;
    .background-img{
        opacity: 0.17;
        display: flex;
        z-index: 1;
        position: absolute;
    }
    .content{
        z-index: 1000;
        position: relative;
        .nav-bar{
            width: 90%;
            padding: 30px;
            margin: auto;
            button{
                background-color: black;
                color: white;
                padding: 10px 16px;
                font-size: 1.1rem;
                border: transparent;
                border-radius: 10px;
            }
            ul{
                list-style-type: none;
                display: flex;
                align-items: center;
                justify-content: space-between;
            }
        }
        .text-content{
            background-color: black;
            width: 60%;
            margin: auto;
            padding: 50px;
            border-radius: 50px;
            h1{
                font-size: 4rem;
                color: white;
                
                line-height: normal;
                text-align: center;
                font-weight: bold;
 

            }
            p{
                padding: 30px;
                
                font-size: 1.2rem;
                line-height: normal;
                color: rgb(199, 199, 199);
                text-align: center;
          
            }
        }
        
    }
    

}
//rgb(10, 125, 118);
//#314d03
//#2E8B57
//248277
//#036666