<div class="item-details">
    <h2>{{item?.itemId}}</h2>
    <h3><b>Item Name:</b> {{item?.name}}</h3>
    <h3><b>Category: </b>{{item?.category}}</h3>
    <h3><b>Quantity:</b> {{item?.quantity}}</h3>
    <h3><b>Price:</b> {{item?.price | price}}</h3>
    <h3 style="display: block;"><b>Locations:</b>
    <ul >
      <li *ngFor="let loc of locations">{{ loc }}</li>
    </ul>
  </h3>
    <h3><b>Reorder Level:</b> {{item?.reorderLevel}}</h3> 
    <h3><b>Last Updated:</b> {{item?.lastUpdated | customDate}}</h3>
    <button *ngIf="isAdmin" (click)="openEditItem()"><mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="edit"></mat-icon></button>
    <button *ngIf="isAdmin" (click)="openConfirmationDialogForDelete()"><mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="delete"></mat-icon></button>
</div>

