<div class="dashboard_pane">
  <div class="user">
    <h1>
      Hello <span>{{ user.name }}!</span>
    </h1>
    <div class="btn-container">
      <button (click)="signOut()">Sign Out</button>
    </div>
  </div>
  <div class="reports">
    <div class="chart-item bar_chart">
      <canvas id="chart_1" height="320px" width="750px"></canvas>
    </div>
    <div class="chart-item">
      <canvas id="chart_2" height="290px"></canvas>
    </div>

    <div class="chart-item review_pane">
      <div class="reviews-header">
        <p>Comments</p>
      </div>
      <div class="reviews" *ngFor="let review of reviews">
        <div class="review-card">
          <div class="review-user">{{ review.locName }}</div>
          <div class="review-text">{{ review.review }}</div>
        </div>
      </div>
    </div>

    <div class="chart-item alert_pane">
      <div class="alert_pane_head">
        <span class="material-symbols-outlined"> notifications_active </span>
        <mat-checkbox [(ngModel)]="showRead" (change)="filterNotifications()"
          >Show Read Notifications</mat-checkbox
        >
      </div>

      <div
        class="notifications"
        *ngFor="let notification of displayedNotifications"
      >
        <div class="notification" [class.unread]="!notification.read">
          <div class="not-head">
            <h4>{{ notification.alertType }}</h4>
            <button
              (click)="markAsRead(notification.notificationId)"
              *ngIf="!notification.read"
            >
              Mark as read
            </button>
          </div>

          <p>{{ notification.message }}</p>
          <small>{{ notification.timeStamp | date : "medium" }}</small>
        </div>
      </div>
    </div>
    <div class="chart-item ai_integrate">
      <div class="option_selection_pane">
        <select (change)="onSelectionChange($event)">
          <option value="">-- Select an Option --</option>
          <option value="orderSupplier">Order Supplier Analytics</option>
          <!-- Add more options here -->
        </select>
      </div>
      <p class="response">
        {{ analysisResponse }}
      </p>
    </div>
  </div>
</div>
