.dashboard_pane {
    width: 90%;
    margin: auto;
    h1{
        margin-top: 30px;
        margin-bottom: 50px;
        font-size: 3rem;
        font-weight: bold;
        span{
            color: rgb(53,94,59);
        }
    }
    .user{
        border: 1px solid rgb(200,200,200);
        border-radius: 5px;
        padding: 20px;
        display: flex;
        justify-content: space-between;
        .data{
            h2{
                color: rgb(53,94,59);
                font-size: 2rem;
                font-weight: bold;
            }
            p{
                font-size: 1rem;
                color: rgb(100, 100, 100);
            }
        }
        .btn-container{
            display: flex;
            align-items: center;
            button{
                background-color: black;
                color: white;
                padding: 13px 16px;
                font-size: 1.2rem;
                border: transparent;
                border-radius: 5px;
            }
        }
    }
    .reports{
        margin-top: 30px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        height: 100%;
        .chart-item {
          height: 350px;
          box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
          display: flex;
          flex-direction: column;
          align-items: center;
          width: 30vw;
          margin-bottom: 20px;
        }
    }
    
  }