<div class="dashboard_pane">
  <div class="user">
    <h1>
      Hello <span>{{ user.name }}!</span>
    </h1>
    <div class="btn-container">
      <button (click)="signOut()">Sign Out</button>
    </div>
  </div>
  <div class="reports">
    <div class="chart-item bar_chart">
      <canvas id="chart_1" height="350px" width="420px"></canvas>
    </div>
    <div class="chart-item">
      <canvas id="chart_2" height="290px"></canvas>
    </div>
    <div class="chart-item">
      <canvas id="chart_3"></canvas>
    </div>
  </div>
</div>
